@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<!--Page Title-->
<section class="page-title centred" style="background-image: url(../Web/assets/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box clearfix">
            <h1>Our Bank Details</h1>
            <ul class="bread-crumb clearfix">
                <li><a href='@Url.Action("Index","Web")'>Home</a></li>
                <li>Our Bank Details</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- about-section -->
<section class="about-style-two about-page-1 bg-color-1">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                <div class="coming_soon text-center">
                    <img src="../Web/assets/images/resource/bank_details.jpg"/>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- about-section end -->
