@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<!-- banner-section -->
<section class="banner-section">
    <div class="banner-carousel owl-theme owl-carousel owl-dots-none">
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(../Web/assets/images/banner/banner-13.jpg)"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h5>get on the right way</h5>
                    <h1>Financial Assistance<br />With True Purpose</h1>
                    <div class="btn-box">
                        <a href="#" class="theme-btn style-one">How Can We Help</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(../Web/assets/images/banner/banner-15.jpg)"></div>
            <div class="auto-container">
                <div class="content-box centred">
                    <h1>International Network To <br />Provide Assistance</h1>
                    <div class="btn-box">
                        <a href="#" class="theme-btn style-one">How Can We Help</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(../Web/assets/images/banner/banner-14.jpg)"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h5>get on the right way</h5>
                    <h1>Boosting Relations & <br />Loyalty, Anytime</h1>
                    <div class="btn-box">
                        <a href="#" class="theme-btn style-one">How Can We Help</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(../Web/assets/images/banner/banner-16.jpg)"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h5>get on the right way</h5>
                    <h1>Let us plan your <br />perfect Holiday</h1>
                    <div class="btn-box">
                        <a href="#" class="theme-btn style-one">How Can We Help</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<!-- about-section -->
<section class="about-style-two">
    <div class="pattern-layer" style="background-image: url(~/Web/assets/images/shape/shape-4.png);"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                <div id="content_block_three">
                    <div class="content-box">
                        <div class="sec-title style-two">
                            <h5>Welcome to AsterHeight Group</h5>
                            <p>We Care About Your Life’s Important Things</p>
                        </div>
                        <div class="text text-justify">
                            <p>
                                AsterHeight Group is a leading with compelling impact towards excellence. with vision and experience in
                                designing and building residential gated communities and investment opportunities. AsterHeight Group exhibits
                                the most superior standards in terms of quality and yet remains affordable to the masses. With the passing time
                                & experience, The Company is giving new dimension to the white board, getting recognized, respected and
                                trusted outcomes. This goodwill is the result of the Company’s outstanding efforts and achievements gets
                                excellent result. AsterHeight Group believes in a futuristic approach to strengthen this commitment to excellence
                                in every aspect and in each project undertaken. The Group is also committed towards realizing its motto of
                                designing residential communities for a progressive and modern India, yet adhering to traditional values, which
                                according to us positively transforms the world and makes it a better place to live in.
                            </p>
                        </div>
                        <div class="btn-box"><a href="/Web/OurProfile" class="theme-btn style-three">Read More <i class="fas fa-arrow-right"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 image-column">
                <div id="image_block_two">
                    <div class="image-box">
                        <figure class="image"><img src="~/Web/assets/images/resource/about-2.jpg" alt=""></figure>
                        <div class="content-box">
                            <i class="fas fa-headphones-alt"></i>
                            <h4>AsterHeight Group!</h4>
                            <h5>Any questions? Call <a href="tel:9120 760 925">+91 9120 760 925</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->
<!-- service-section -->
@*<section class="service-section">
    <div class="auto-container">
        <div class="sec-title style-three centred">      
            <h5>Project Detail</h5>  
        </div>
        <div class="title-box">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 title-column">
                    <div class="text">
                        <table class="table table-bordered">                           
                            <tbody>
                                <tr>
                                    <th>Rate  </th>                                 
                                    <td>Rs 301/- per sq ft</td>
                                </tr>
                                <tr>
                                    <th>Prelaunch Offer </th>
                                    <td>Rs 151/- per sq ft</td>
                                </tr>
                                <tr>
                                    <th>Plot size</th>
                                    <td>1000</td>
                                </tr> 
                                <tr>
                                    <th>Total No of plots.</th>
                                    <td>3000</td>
                                </tr>                                                          
                            </tbody>
                        </table>                     
                    </div>
                </div>             
            </div>
        </div>
    </div>
</section>*@
<!-- service-section end -->
<!-- project-style-two -->
<section class="project-style-two">
    <div class="auto-container">
        <div class="sec-title style-three centred">
            <h5>Various Amenities</h5>
            @*<h2>Various Amenities</h2>*@
        </div>
        <div class="project-carousel-2 owl-carousel owl-theme owl-nav-none">
            <div class="project-inner">
                <div class="inner-box">
                    <figure class="image-box"><img src="~/Web/assets/images/gallery/swimming_pool.jpg" alt=""></figure>
                    <div class="content-box">
                        <span>Resort</span>
                        <p>Resort is open and is proud to feature clean comfortable accommodations at a very competitive price. Our resort week runs every weekend.</p>
                       
                    </div>
                </div>
            </div>
            <div class="project-inner">
                <div class="inner-box">
                    <figure class="image-box"><img src="~/Web/assets/images/gallery/school.jpg" alt=""></figure>
                    <div class="content-box">
                        <span>School</span>
                        <p>
                            Our Schools have facilities with online real estate classes include both live instructor-led classes, and on-demand classes you can take any time and lets you take the classes flexibly. Also, our online platform gives you to complete the course and you can take the classes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="project-inner">
                <div class="inner-box">
                    <figure class="image-box"><img src="~/Web/assets/images/gallery/central_park.jpg" alt=""></figure>
                    <div class="content-box">
                        <span>Central Park</span>
                        <p>Central Park, a realty firm that is known for providing a luxurious lifestyle. The project offers Apartment with perfect combination of contemporary architecture and features to provide comfortable living.
The Apartment are of the following configurations: 2BHK and 3BHK.  </p>
                    </div>
                </div>
            </div>
            <div class="project-inner">
                <div class="inner-box">
                    <figure class="image-box"><img src="~/Web/assets/images/gallery/commercial1.jpg" alt=""></figure>
                    <div class="content-box">
                        <span>Commercial</span>
                        <p>
                            Commercial property in real estate that is used for business activities. Commercial property usually refers to buildings that house businesses, but can also refer to land used to generate a profit, as well as large residential rental properties.The designation of a property as a commercial property has implications for how it is financed, how it is taxed, and how the laws are applied to it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- project-style-two end -->
<!-- team-section -->
@*<section class="team-section">
    <div class="auto-container">
        <div class="upper-box clearfix">
            <div class="sec-title centred">
                <h5>Meet Our</h5>
                <h2>Director</h2>
            </div>
        </div>

        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-12 team-block">
                    <div class="team-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="../Web/assets/images/team/team1.png" alt=""></figure>
                            <div class="lower-content">
                                <div class="content-box">
                                    <h3><a href="#">Neeraj Rai</a></h3>
                                    <span class="designation">Director</span>
                                </div>
                                <div class="ovellay-box">
                                    <h3><a href="#">Neeraj Rai</a></h3>
                                    <span class="designation">Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 team-block">
                    <div class="team-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="../Web/assets/images/team/team2.png" alt=""></figure>
                            <div class="lower-content">
                                <div class="content-box">
                                    <h3><a href="#">Barkat Ali</a></h3>
                                    <span class="designation">Director</span>
                                </div>
                                <div class="ovellay-box">
                                    <h3><a href="#">Barkat Ali</a></h3>
                                    <span class="designation">Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 team-block">
                    <div class="team-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="../Web/assets/images/team/team3.png" alt=""></figure>
                            <div class="lower-content">
                                <div class="content-box">
                                    <h3><a href="#">Shane Ilahi</a></h3>
                                    <span class="designation">Director</span>
                                </div>
                                <div class="ovellay-box">
                                    <h3><a href="#">Shane Ilahi</a></h3>
                                    <span class="designation">Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- team-section end -->
<!-- Our Latest Projects-section -->
<section class="news-section bg-color-1">
    <div class="auto-container">
        <div class="sec-title centred"> 
            <h5>Our Projects</h5>          
            @*<h2>Our Projects</h2>*@
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <a href="#"><img src="~/Web/assets/images/news/villas.jpg" alt=""></a>
                        </figure>
                        <div class="lower-content">
                            <h3>Villas</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <a href="#"><img src="~/Web/assets/images/news/plots.jpg" alt=""></a>
                        </figure>
                        <div class="lower-content">
                            <h3>Plots</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <a href="#"><img src="~/Web/assets/images/news/farm_house.jpg" alt=""></a>
                        </figure>
                        <div class="lower-content">
                            <h3>Farm House</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Latest Projects-section end -->
<!-- project-style-four -->
@*<section class="project-style-four">
    <div class="auto-container">
        <div class="title-inner clearfix">
            <div class="sec-title style-four right pull-left">
                <h5>MAKE THE GREEN WORLD</h5>
                <h2>Projects Amenities</h2>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12 feature-block">
                <div class="feature-block-two wow fadeInUp animated animated animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/resource/pswimming_pool.jpg" alt=""></figure>
                        <div class="lower-content">
                            <div class="inner">
                                <h4>Swimming Pool</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 feature-block">
                <div class="feature-block-two wow fadeInUp animated animated animated animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/resource/pold_age_home.jpg" alt=""></figure>
                        <div class="lower-content">
                            <div class="inner">
                                <h4>Old Age Home</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 feature-block">
                <div class="feature-block-two wow fadeInUp animated animated animated animated" data-wow-delay="400ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 400ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/resource/pjoggres_park.jpg" alt=""></figure>
                        <div class="lower-content">
                            <div class="inner">
                                <h4>Joggres Park</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12 feature-block">
                <div class="feature-block-two wow fadeInUp animated animated animated animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/resource/pkids_zone.jpg" alt=""></figure>
                        <div class="lower-content">
                            <div class="inner">
                                <h4>Kids Zone</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-two wow fadeInUp animated animated animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/resource/presort.jpg" alt=""></figure>
                        <div class="lower-content">
                            <div class="inner">
                                <h4>Resort</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 feature-block">
                <div class="feature-block-two wow fadeInUp animated animated animated animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/resource/pwater_park.jpg" alt=""></figure>
                        <div class="lower-content">
                            <div class="inner">
                                <h4>Water Park</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- project-style-four end -->
