@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<!--Page Title-->
<section class="page-title centred" style="background-image: url(~/Web/assets/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box clearfix">
            <h1>Farm House</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Farm House</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- service-details -->
<section class="news-section bg-color-1">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/news/farming.jpg" alt=""></figure>
                        <div class="lower-content">
                            <h3>Agro FARMING</h3>
                            <p>Agro Farming is advance form of traditional agriculture basically it is a skill of cultivating plants and live stock..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/news/fish_farmed.jpg" alt=""></figure>
                        <div class="lower-content">
                            <h3>Fish FARMING</h3>
                            <p>India holds the second position in the world for fresh water fish farmed production. There is immense scope and opportunities for the sector to grow.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/news/papaya_framing.jpg" alt=""></figure>
                        <div class="lower-content">
                            <h3>Papaya FARMING</h3>
                            <p>Vegetable farming in india is a profitable business. Vegetable farming is growing of all vegetables for human consumption.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/news/veg_framing.jpg" alt=""></figure>
                        <div class="lower-content">
                            <h3>Orgainic Veg FARMING</h3>
                            <p>The papaya is highly productive crop and one of the mostly used fruit. it contains plenty of health ingredients. It's most growing vegetable.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->

