@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

  <!--Page Title-->
<section class="page-title centred" style="background-image: url(assets/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box clearfix">
            <h1>Our Plots</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Our Plots</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- service-details -->
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="content-style-one">
                        <div class="sec-title left">
                            <h5>Our Best Plots</h5>
                            <h2>Project Overview</h2>
                        </div>
                        <div class="text text-justify">
                            <p>AsterHeight Corporate is a leading with compelling impact towards excellence. With vision and experience in designing and building residential gated communities and investment opportunities. AsterHeight Corporate exhibits the most superior standards in terms of quality and yet remains affordable to the masses. With the passing time & experience, The Company is giving new dimension to the white board, getting recognized, respected and trusted outcomes. This goodwill is the result of the company's outstanding efforts and achievements gets excellent result. AsterHeight Corporate believes in a futuristic approach to strengthen this commitment to excellence in every aspect and in each project undertaken.</p>
                            <p>The Group is also committed towards realizing its motto of designing residential communities for a progressive and modern India, yet adhering to traditional values, which according to us positively transforms the world and makes it a better place to live in. This AsterHeight Agro Project is Spread Over Approximate 200 Acre, Very Unique and Protable venture. As we all know Organic Farming is the future. AsterHeight Corporate is Focussing on the same. we are generating money from the all sector of farming and animal husbandry. The U.S.P of the project is Lucky Draw Format with Agriculture Income. Its Limited Time Offer, Hurry up Exclusive</p>
                        </div>
                    </div>
                    <div class="content-style-two">
                        <div class="image-box">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image"><img src="assets/images/service/plots.jpg" alt=""></figure>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image"><img src="assets/images/service/plots2.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar">
                    <div class="sidebar-categories">
                        <ul class="categories-list clearfix">
                            <li><a href="our_plots.html" class="active">Our Plots</a></li>
                            <li><a href="our_villas.html">Our Villas</a></li>
                            <li><a href="our_house.html">Farm House</a></li>
                        </ul>
                    </div>
                    <div class="sidebar-info">
                        <div class="sidebar-title">
                            <h3>Contact Us</h3>
                        </div>
                        <div class="sidebar-content">
                            <p>We’re glad to discuss your organisation’s situation. So please contact us via the details below, or enter your request.</p>
                            <ul class="info-list clearfix">
                                <li><i class="fas fa-map-marker-alt"></i>Flat No. T5-CU-03 Parsvnath Planet, Tower No.5, Vibhuti Khand, Gomti Nagar, Lucknow-226010</li>
                                <li><i class="fas fa-envelope"></i><a href="mailto:info@moonliteagro.com">info@moonliteagro.com</a></li>
                                <li><i class="fas fa-headphones"></i><a href="tel:1800 102 5898">1800 102 5898</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->

