@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

 <!--Page Title-->
<section class="page-title centred" style="background-image: url(../Web/assets/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box clearfix">
            <h1>About Us</h1>
            <ul class="bread-crumb clearfix">
                <li><a href='@Url.Action("Index","Web")'>Home</a></li>
                <li>Our Profile</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- about-section -->
<section class="about-style-two about-page-1 bg-color-1">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                <div id="content_block_three">
                    <div class="content-box">
                        <div class="sec-title right">
                            <h5>Welcome to</h5>
                            <h2>AsterHeight Group</h2>
                            <p>We Care About Your Life’s Important Things</p>
                        </div>
                        <div class="text text-justify">
                            <p>
                                AsterHeight Group is a leading with compelling impact towards excellence. with vision and experience in
                                designing and building residential gated communities and investment opportunities. AsterHeight Group exhibits
                                the most superior standards in terms of quality and yet remains affordable to the masses. With the passing time
                                & experience, The Company is giving new dimension to the white board, getting recognized, respected and
                                trusted outcomes. This goodwill is the result of the Company’s outstanding efforts and achievements gets
                                excellent result. AsterHeight Group believes in a futuristic approach to strengthen this commitment to excellence
                                in every aspect and in each project undertaken. The Group is also committed towards realizing its motto of
                                designing residential communities for a progressive and modern India, yet adhering to traditional values, which
                                according to us positively transforms the world and makes it a better place to live in.
                            </p>
                            <p>
                                This AsterHeight Group Project is
                                Spread Over Approximate 100 Acre, Very Unique and Profitable venture. As we all know Organic Farming is the
                                future. AsterHeight Group is Focussing on the same. We are generating money from the all sector of farming. The
                                U.S.P. of the project is Lucky Draw Format with Agriculture Income. Its Limited Time Offer, Hurry up ....
                            </p>
                        </div>
                        <div class="tabs-box">
                            <div class="tab-btn-box">
                                <ul class="tab-btns tab-buttons clearfix">
                                    <li class="tab-btn active-btn" data-tab="#tab-1"> Our Vision</li>
                                    <li class="tab-btn" data-tab="#tab-2"> Our Mission</li>
                                </ul>
                            </div>
                            <div class="tabs-content">
                                <div class="tab active-tab" id="tab-1" style="display: block;">
                                    <div class="content-inner">
                                        <p>The vision of AsterHeight Agrofarm Real Estate, Company is to achieve the highest possible standards of the real estate market while establishing our agency as the premier and preferred real estate company in the AsterHeight agrofarm and surrounding areas.</p>
                                    </div>
                                </div>
                                <div class="tab" id="tab-2" style="display: none;">
                                    <div class="content-inner">
                                        <p>The mission of AsterHeight Agrofarm Real Estate, Company is to provide an outstanding level of service and expertise in the real estate market that is innovative and ambitious. The AsterHeight Agrofarm Real Estate, Company is dedicated to the highest standards, systems and performance necessary to fulfill all of your real estate dreams.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 image-column">
                <div id="image_block_two">
                    <div class="image-box">
                        <div class="pattern-layer" style="background-image: url(../Web/assets/images/shape/shape-25.png);"></div>
                        <figure class="image"><img src="~/Web/assets/images/resource/about-2.jpg" alt=""></figure>
                        <div class="content-box">
                            <i class="fas fa-headphones-alt"></i>
                            <h4>AsterHeight Group!</h4>
                            <h5>Any questions? Call <a href="tel:1800 102 5898">+91 9120 760 925</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->