@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

     <!--Page Title-->
<section class="page-title centred" style="background-image: url(../Web/assets/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box clearfix">
            <h1>Our Villas</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Our Villas</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- project-style-four -->
<section class="project-style-four">
    <div class="auto-container">
        <div class="title-inner clearfix">
            <div class="sec-title style-four right pull-left">
                <h2>Projects Amenities</h2>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12 feature-block">
                <div class="feature-block-two wow fadeInUp animated animated animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/resource/pswimming_pool.jpg" alt=""></figure>
                        <div class="lower-content">
                            <div class="inner">
                                <h4>Swimming Pool</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 feature-block">
                <div class="feature-block-two wow fadeInUp animated animated animated animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/resource/pold_age_home.jpg" alt=""></figure>
                        <div class="lower-content">
                            <div class="inner">
                                <h4>Old Age Home</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 feature-block">
                <div class="feature-block-two wow fadeInUp animated animated animated animated" data-wow-delay="400ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 400ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/resource/pjoggres_park.jpg" alt=""></figure>
                        <div class="lower-content">
                            <div class="inner">
                                <h4>Joggres Park</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12 feature-block">
                <div class="feature-block-two wow fadeInUp animated animated animated animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/resource/pkids_zone.jpg" alt=""></figure>
                        <div class="lower-content">
                            <div class="inner">
                                <h4>Kids Zone</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-two wow fadeInUp animated animated animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/resource/presort.jpg" alt=""></figure>
                        <div class="lower-content">
                            <div class="inner">
                                <h4>Resort</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 feature-block">
                <div class="feature-block-two wow fadeInUp animated animated animated animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp;">
                    <div class="inner-box">
                        <figure class="image-box"><img src="~/Web/assets/images/resource/pwater_park.jpg" alt=""></figure>
                        <div class="lower-content">
                            <div class="inner">
                                <h4>Water Park</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- project-style-four end -->
