@model AsterHeight.Models.Website

@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/WebisteLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>AsterHeight Agro Farm  &amp; Organic Food </title>
    <!-- Favicon -->
    <link rel="icon" href="../WebsitePanelLayout/img/core-img/favicon.png">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../WebsitePanelLayout/style.css">
    <style type="text/css" media="screen">
        .project ul li {
            padding: 12px;
        }

            .project ul li a {
                color: #fff;
            }

            .project ul li:hover {
                background-color: darkgreen;
            }

        .project .tab-content .tab-pane {
            padding: 30px;
        }

        .project {
        }
    </style>
</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner"><img src="../WebsitePanelLayout/img/logo.png" class="img-fluid"></div>
    </div>
    <!-- ##### Header Area Start ##
    <!-- ##### Header Area End ##### -->
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('../WebsitePanelLayout/img/bg-img/2.jpg');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="famie-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-2.html"><i class="fa fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->
    <!-- ##### Famie Benefits Area Start ##### -->
    <!-- ##### Famie Benefits Area End ##### -->
    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row align-items-center">
                <!-- About Us Content -->
                <div class="col-12 col-md-8">
                    <div class="about-us-content mb-100">
                        <!-- Section Heading -->
                        <div class="section-heading">
                            <p>About us</p>
                            <h2><span>Let Us</span> Tell You Our Story</h2>
                            <img src="../WebsitePanelLayout/img/core-img/decor.png" alt="">
                        </div>
                        <p style="text-align: justify;">
                            AsterHeight Corporate is a leading with compelling impact towards excellence. With vision and experience in designing and building residential gated communities and investment opportunities. AsterHeight Corporate exhibits the most superior standards in terms of quality and yet remains affordable to the masses. With the passing time & experience, The Company is giving new dimension to the  white board, getting recognized, respected and trusted outcomes. This goodwill is the result of the company’s outstanding efforts and achievements gets excellent result. AsterHeight Corporate believes in a futuristic approach to strengthen this commitment to excellence in every aspect and in each project undertaken. The Group is also committed towards realizing its motto of designing residential communities for a progressive and  modern India, yet adhering to traditional values, which according to us positively transforms the world and makes it a better place to live in. This AsterHeight Agro Project is Spread Over Approximate 200 Acre,  Very  Unique and Proﬁtable venture. As we all know Organic Farming is the future. AsterHeight Corporate is Focussing on the same. we are generating money from the all sector of farming and animal husbandry. The U.S.P of the project is Lucky Draw Format with Agriculture Income. Its Limited Time Offer, Hurry up
                        </p>

                    </div>
                </div>
                <!-- Famie Video Play -->
                <div class="col-12 col-md-4">
                    <div class="benefits-thumbnail mb-50">
                        <img src="../WebsitePanelLayout/img/bg-img/about-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->
    <section class="famie-benefits-area pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Benefits Area -->
                <div class="col-12 col-sm-4 col-lg">
                    <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="100ms">
                        <img src="../WebsitePanelLayout/img/core-img/digger.png" alt="">
                        <h5>Best Services</h5>
                    </div>
                </div>
                <!-- Single Benefits Area -->
                <div class="col-12 col-sm-4 col-lg">
                    <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="300ms">
                        <img src="../WebsitePanelLayout/img/core-img/windmill.png" alt="">
                        <h5>Farm Experiences</h5>
                    </div>
                </div>
                <!-- Single Benefits Area -->
                <div class="col-12 col-sm-4 col-lg">
                    <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="500ms">
                        <img src="../WebsitePanelLayout/img/core-img/cereals.png" alt="">
                        <h5>100% Natural</h5>
                    </div>
                </div>
                <!-- Single Benefits Area -->
                <div class="col-12 col-sm-4 col-lg">
                    <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="700ms">
                        <img src="../WebsitePanelLayout/img/core-img/tractor.png" alt="">
                        <h5>Farm Equipment</h5>
                    </div>
                </div>
                <!-- Single Benefits Area -->
                <div class="col-12 col-sm-4 col-lg">
                    <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="900ms">
                        <img src="../WebsitePanelLayout/img/core-img/sunrise.png" alt="">
                        <h5>Organic food</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Testimonial Area Start ##### -->
    <section class="testimonial-area bg-img bg-overlay section-padding-100 jarallax" style="background-image: url('../WebsitePanelLayout/img/bg-img/15.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2 style="color:white;"><span>Our </span>Testimonials</h2>
                    </div>
                    <!-- Testimonial Slides -->
                    <div class="testimonial-slides owl-carousel">
                        <!-- Single Slide -->
                        <div class="single-slide">
                            <!-- Testimonial Text -->
                            <div class="testi-text d-flex">
                                <div class="quote-icon">
                                    <img src="../WebsitePanelLayout/img/core-img/quote.png" alt="">
                                </div>
                                <h5>
                                    "Thank you for your organic products. My children like your products and they use for breakfast. We are loving the pure milk, freshly fruit and of course our staple, Brown Rice Bread. Your Gluten Free breads truly make me feel
                                    lighter and uplifted. It's the only bread I plan to eat for the rest of my life. I will use them for many years."
                                </h5>
                            </div>
                            <!-- Testimonial Thumbnail Name -->
                            <div class="testimonial-thumbnail-name d-flex align-items-center">
                                <div class="testimonial-thumbnail">
                                    <img src="../WebsitePanelLayout/img/bg-img/16.png" alt="">
                                </div>
                                <div class="testimonial-name">
                                    <h5>Mrs Gita Bansal</h5>
                                    <h6>Customer</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide -->
                        <div class="single-slide">
                            <!-- Testimonial Text -->
                            <div class="testi-text d-flex">
                                <div class="quote-icon">
                                    <img src="../WebsitePanelLayout/img/core-img/quote.png" alt="">
                                </div>
                                <h5>
                                    "Thank you for your organic products. My children like your products and they use for breakfast. We are loving the pure milk, freshly fruit and of course our staple, Brown Rice Bread. Your Gluten Free breads truly make me feel
                                    lighter and uplifted. It's the only bread I plan to eat for the rest of my life. I will use them for many years."
                                </h5>
                            </div>
                            <!-- Testimonial Thumbnail Name -->
                            <div class="testimonial-thumbnail-name d-flex align-items-center">
                                <div class="testimonial-thumbnail">
                                    <img src="../WebsitePanelLayout/img/bg-img/16-1.png" alt="">
                                </div>
                                <div class="testimonial-name">
                                    <h5>Ajoy Das</h5>
                                    <h6>Customer</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide -->
                        <div class="single-slide">
                            <!-- Testimonial Text -->
                            <div class="testi-text d-flex">
                                <div class="quote-icon">
                                    <img src="../WebsitePanelLayout/img/core-img/quote.png" alt="">
                                </div>
                                <h5>
                                    "Thank you for your organic products. My children like your products and they use for breakfast. We are loving the pure milk, freshly fruit and of course our staple, Brown Rice Bread. Your Gluten Free breads truly make me feel
                                    lighter and uplifted. It's the only bread I plan to eat for the rest of my life. I will use them for many years."
                                </h5>
                            </div>
                            <!-- Testimonial Thumbnail Name -->
                            <div class="testimonial-thumbnail-name d-flex align-items-center">
                                <div class="testimonial-thumbnail">
                                    <img src="../WebsitePanelLayout/img/bg-img/16-2.png" alt="">
                                </div>
                                <div class="testimonial-name">
                                    <h5>Akash Khan</h5>
                                    <h6>Customer</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Testimonial Area End ##### -->
    <!-- ##### Team Member Area Start ##### -->
    <section class="team-member-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <p>MEET OUR TEAM</p>
                        <h2><span>The Great Team</span> Will Always Help You</h2>
                        <img src="../WebsitePanelLayout/img/core-img/decor2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Team Thumbnail -->
                        <div class="team-img">
                            <img src="../WebsitePanelLayout/img/bg-img/team-1.jpg" alt="">
                            <!-- Social Info -->
                            <div class="team-social-info">
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info">
                            <h5>Team Name</h5>
                            <h6>Designation</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Team Thumbnail -->
                        <div class="team-img">
                            <img src="../WebsitePanelLayout/img/bg-img/team-1.jpg" alt="">
                            <!-- Social Info -->
                            <div class="team-social-info">
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info">
                            <h5>Team Name</h5>
                            <h6>Designation</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <!-- Team Thumbnail -->
                        <div class="team-img">
                            <img src="../WebsitePanelLayout/img/bg-img/team-1.jpg" alt="">
                            <!-- Social Info -->
                            <div class="team-social-info">
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info">
                            <h5>Team Name</h5>
                            <h6>Designation</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <!-- Team Thumbnail -->
                        <div class="team-img">
                            <img src="../WebsitePanelLayout/img/bg-img/team-1.jpg" alt="">
                            <!-- Social Info -->
                            <div class="team-social-info">
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info">
                            <h5>Team Name</h5>
                            <h6>Designation</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Team Member Area End ##### -->
    <!-- ##### Footer Area Sta  ViewBag.Title = "Pro Farms Details";
    Layout = "~/Views/Shared/WebisteLayout.cshtml";
    <!-- ##### Footer Area End ##### -->
    <!-- ##### All Javascript Files ##### -->
    <!-- jquery 2.2.4  -->
    <script src="../WebsitePanelLayout/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script>
    $(document).ready(function() {

      var id = '#dialog';

      //Get the screen height and width
      var maskHeight = $(document).height();
      var maskWidth = $(window).width();

      //Set heigth and width to mask to fill up the whole screen
      $('#mask').css({'width':maskWidth,'height':maskHeight});

      //transition effect
      $('#mask').fadeIn(500);
      $('#mask').fadeTo("slow",0.9);

      //Get the window height and width
      var winH = $(window).height();
      var winW = $(window).width();

      //Set the popup window to center
      $(id).css('top',  winH/2-$(id).height()/2);
      $(id).css('left', winW/2-$(id).width()/2);

      //transition effect
      $(id).fadeIn(2000);

      //if close button is clicked
      $('.window .close').click(function (e) {
        //Cancel the link behavior
        e.preventDefault();

        $('#mask').hide();
        $('.window').hide();
      });

      //if mask is clicked
      $('#mask').click(function () {
        $(this).hide();
        $('.window').hide();
      });

    });
    </script>
    <script src="../WebsitePanelLayout/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../WebsitePanelLayout/js/bootstrap.min.js"></script>
    <!-- Owl Carousel js -->
    <script src="../WebsitePanelLayout/js/owl.carousel.min.js"></script>
    <!-- Classynav -->
    <script src="../WebsitePanelLayout/js/classynav.js"></script>
    <!-- Wow js -->
    <script src="../WebsitePanelLayout/js/wow.min.js"></script>
    <!-- Sticky js -->
    <script src="../WebsitePanelLayout/js/jquery.sticky.js"></script>
    <!-- Magnific Popup js -->
    <script src="../WebsitePanelLayout/js/jquery.magnific-popup.min.js"></script>
    <!-- Scrollup js -->
    <script src="../WebsitePanelLayout/js/jquery.scrollup.min.js"></script>
    <!-- Jarallax js -->
    <script src="../WebsitePanelLayout/js/jarallax.min.js"></script>
    <!-- Jarallax Video js -->
    <script src="../WebsitePanelLayout/js/jarallax-video.min.js"></script>
    <!-- Active js -->
    <script src="../WebsitePanelLayout/js/active.js"></script>
</body>
</html>
