@model AsterHeight.Models.Website

@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/WebisteLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>AsterHeight Agro Farm  &amp; Organic Food </title>
    <!-- Favicon -->
    <link rel="icon" href="../WebsitePanelLayout/img/core-img/favicon.png">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../WebsitePanelLayout/style.css">
    <style type="text/css" media="screen">
        .project ul li {
            padding: 12px;
        }

            .project ul li a {
                color: #fff;
            }

            .project ul li:hover {
                background-color: darkgreen;
            }

        .project .tab-content .tab-pane {
            padding: 30px;
        }

        .project {
        }
    </style>
</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner"><img src="../WebsitePanelLayout/img/logo.png" class="img-fluid"></div>
    </div>
    <!-- ##### Header Area End ##### -->
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('../WebsitePanelLayout/img/bg-img/18.jpg');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>CONTACT US</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="famie-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contact</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->
    <!-- ##### Contact Information Area Start ##### -->
    <section class="contact-info-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <p>CONTACT INFO</p>
                        <h2><span>The Best Way</span> To Contact Us For The Help</h2>
                        <img src="../WebsitePanelLayout/img/core-img/decor2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Information Area -->
                <div class="col-12 col-md-4">
                    <div class="single-information-area text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <div class="contact-icon">
                            <i class="icon_pin_alt"></i>
                        </div>
                        <h5>Corporate Office </h5>
                        <h6>Flat No. T5-CU-03 Parsvnath Planet, Tower No.5, Vibhuti Khand, Gomti Nagar, Lucknow-226010</h6>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-information-area text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <div class="contact-icon">
                            <i class="icon_pin_alt"></i>
                        </div>
                        <h5>Marketing Office </h5>
                        <h6>LGF-31, Lucknow Plaza, Nazirabad Road, Aminabad, Distt- Lucknow (U.P)  Pin - 226018 </h6>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-information-area text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <div class="contact-icon">
                            <i class="icon_pin_alt"></i>
                        </div>
                        <h5>Site Address </h5>
                        <h6>Village Karpiya, Near Toll Plaza, Barabanki-Gonda Highway (District Barabanki) </h6>
                    </div>
                </div>
                <!-- Single Information Area -->
                <div class="col-12 col-md-4">
                    <div class="single-information-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="contact-icon">
                            <i class="icon_phone"></i>
                        </div>
                        <h5>Toll Free</h5>
                        <h6>1800 102 5898</h6>
                    </div>
                </div>
                <!-- Single Information Area -->
                <div class="col-12 col-md-4">
                    <div class="single-information-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
                        <div class="contact-icon">
                            <i class="icon_mail_alt"></i>
                        </div>
                        <h5>Email</h5>
                        <h6>info@moonliteagro.com</h6>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-information-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="contact-icon">
                            <i class="icon_phone"></i>
                        </div>
                        <h5>Toll Free</h5>
                        <h6>1800 102 5898</h6>
                    </div>
                </div>
            </div>
            <div class="c-border"></div>
        </div>
    </section>
    <!-- ##### Contact Information Area End ##### -->
    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Contact Content -->
                <div class="col-12 col-lg-5">
                    <div class="contact-content mb-100">
                        <!-- Section Heading -->
                        <div class="section-heading">
                            <p>Contact now</p>
                            <h2><span>Get In Touch</span> With Us</h2>
                            <img src="../WebsitePanelLayout/img/core-img/decor.png" alt="">
                        </div>
                        <!-- Contact Form Area -->
                        <div class="contact-form-area">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="name" placeholder="Your Name">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="email" class="form-control" name="email" placeholder="Your Email">
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="form-control" name="subject" placeholder="Your Subject">
                                    </div>
                                    <div class="col-12">
                                        <textarea name="message" class="form-control" cols="30" rows="10" placeholder="Your Message"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn famie-btn">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Contact Maps -->
                <div class="col-lg-6">
                    <div class="contact-maps mb-100">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7118.368246334715!2d81.00113702672515!3d26.865890653446474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399be2bedbe0741b%3A0x6f91b0e3f372c4ed!2sVibhuti%20Khand%2C%20Gomti%20Nagar%2C%20Lucknow%2C%20Uttar%20Pradesh%20226010!5e0!3m2!1sen!2sin!4v1582354575771!5m2!1sen!2sin" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->
    <!-- ##### Footer Area Start
    <!-- ##### Footer Area End ##### -->
    <!-- ##### All Javascript Files ##### -->
    <!-- jquery 2.2.4  -->
    <script src="../WebsitePanelLayout/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script>
    $(document).ready(function() {

      var id = '#dialog';

      //Get the screen height and width
      var maskHeight = $(document).height();
      var maskWidth = $(window).width();

      //Set heigth and width to mask to fill up the whole screen
      $('#mask').css({'width':maskWidth,'height':maskHeight});

      //transition effect
      $('#mask').fadeIn(500);
      $('#mask').fadeTo("slow",0.9);

      //Get the window height and width
      var winH = $(window).height();
      var winW = $(window).width();

      //Set the popup window to center
      $(id).css('top',  winH/2-$(id).height()/2);
      $(id).css('left', winW/2-$(id).width()/2);

      //transition effect
      $(id).fadeIn(2000);

      //if close button is clicked
      $('.window .close').click(function (e) {
        //Cancel the link behavior
        e.preventDefault();

        $('#mask').hide();
        $('.window').hide();
      });

      //if mask is clicked
      $('#mask').click(function () {
        $(this).hide();
        $('.window').hide();
      });

    });
    </script>
    <script src="../WebsitePanelLayout/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../WebsitePanelLayout/js/bootstrap.min.js"></script>
    <!-- Owl Carousel js -->
    <script src="../WebsitePanelLayout/js/owl.carousel.min.js"></script>
    <!-- Classynav -->
    <script src="../WebsitePanelLayout/js/classynav.js"></script>
    <!-- Wow js -->
    <script src="../WebsitePanelLayout/js/wow.min.js"></script>
    <!-- Sticky js -->
    <script src="../WebsitePanelLayout/js/jquery.sticky.js"></script>
    <!-- Magnific Popup js -->
    <script src="../WebsitePanelLayout/js/jquery.magnific-popup.min.js"></script>
    <!-- Scrollup js -->
    <script src="../WebsitePanelLayout/js/jquery.scrollup.min.js"></script>
    <!-- Jarallax js -->
    <script src="../WebsitePanelLayout/js/jarallax.min.js"></script>
    <!-- Jarallax Video js -->
    <script src="../WebsitePanelLayout/js/jarallax-video.min.js"></script>
    <!-- Active js -->
    <script src="../WebsitePanelLayout/js/active.js"></script>
</body>
</html>

