@model AsterHeight.Models.Website

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/WebisteLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>AsterHeight Agro Farm  &amp; Organic Food </title>
    <!-- Favicon -->
    <link rel="icon" href="../WebsitePanelLayout/img/core-img/favicon.png">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../WebsitePanelLayout/style.css">
    <style type="text/css" media="screen">
        .project ul li {
            padding: 12px;
        }

            .project ul li a {
                color: #fff;
            }

            .project ul li:hover {
                background-color: darkgreen;
            }

        .project .tab-content .tab-pane {
            padding: 30px;
        }

        .project {
        }
    </style>
</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner"><img src="../WebsitePanelLayout/img/logo.png" class="img-fluid"></div>
    </div>
    <!-- ##### Header Area End ##### --><!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('../WebsitePanelLayout/img/bg-img/2.jpg');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>News</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="famie-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-2.html"><i class="fa fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">News</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->
    <section class="our-products-area section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <p>News</p>
                        <h2><span>Coming</span> Soon..</h2>
                        <img src="../WebsitePanelLayout/img/core-img/decor2.png" alt="">
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### Footer Area End ##### -->
    <!-- ##### All Javascript Files ##### -->
    <!-- jquery 2.2.4  -->
    <script src="../WebsitePanelLayout/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script>
    $(document).ready(function() {

      var id = '#dialog';

      //Get the screen height and width
      var maskHeight = $(document).height();
      var maskWidth = $(window).width();

      //Set heigth and width to mask to fill up the whole screen
      $('#mask').css({'width':maskWidth,'height':maskHeight});

      //transition effect
      $('#mask').fadeIn(500);
      $('#mask').fadeTo("slow",0.9);

      //Get the window height and width
      var winH = $(window).height();
      var winW = $(window).width();

      //Set the popup window to center
      $(id).css('top',  winH/2-$(id).height()/2);
      $(id).css('left', winW/2-$(id).width()/2);

      //transition effect
      $(id).fadeIn(2000);

      //if close button is clicked
      $('.window .close').click(function (e) {
        //Cancel the link behavior
        e.preventDefault();

        $('#mask').hide();
        $('.window').hide();
      });

      //if mask is clicked
      $('#mask').click(function () {
        $(this).hide();
        $('.window').hide();
      });

    });
    </script>
    <script src="../WebsitePanelLayout/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../WebsitePanelLayout/js/bootstrap.min.js"></script>
    <!-- Owl Carousel js -->
    <script src="../WebsitePanelLayout/js/owl.carousel.min.js"></script>
    <!-- Classynav -->
    <script src="../WebsitePanelLayout/js/classynav.js"></script>
    <!-- Wow js -->
    <script src="../WebsitePanelLayout/js/wow.min.js"></script>
    <!-- Sticky js -->
    <script src="../WebsitePanelLayout/js/jquery.sticky.js"></script>
    <!-- Magnific Popup js -->
    <script src="../WebsitePanelLayout/js/jquery.magnific-popup.min.js"></script>
    <!-- Scrollup js -->
    <script src="../WebsitePanelLayout/js/jquery.scrollup.min.js"></script>
    <!-- Jarallax js -->
    <script src="../WebsitePanelLayout/js/jarallax.min.js"></script>
    <!-- Jarallax Video js -->
    <script src="../WebsitePanelLayout/js/jarallax-video.min.js"></script>
    <!-- Active js -->
    <script src="../WebsitePanelLayout/js/active.js"></script>
</body>

</html>