
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Moonlite Agro Farm  &amp; Organic Food </title>
    <!-- Favicon -->
  
    <link rel='shortcut icon' type='image/x-icon' href="~/AssociateCSS/assets/img/favicon.png" />
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../WebsitePanelLayout/style.css">
    <style type="text/css" media="screen">
        .project ul li {
            padding: 12px;
        }

            .project ul li a {
                color: #fff;
            }

            .project ul li:hover {
                background-color: darkgreen;
            }

        .project .tab-content .tab-pane {
            padding: 30px;
        }

        .project {
        }
    </style>
</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner"><img src="../WebsitePanelLayout/img/logo.png" class="img-fluid"></div>
    </div>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="info@moonliteagro.com">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <span><b>Email: info@moonliteagro.com</b></span>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="1800 102 5898">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span><b>Call Us: 1800 102 5898<b></span>
                                </a>
                            </div>
                            <!-- Top Header Content -->
                            <div class="top-header-meta text-right">
                                <a href="../WebsitePanelLayout/img/ppt Moonlite Agro Edited New Rate with New Map(1).pdf" style="background-color: #434242; padding: 12px;color: #fff;">E-Brochure</a>
                                <a href="/home/login" style="background-color: #00a654; padding: 12px;color: #fff;">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar Area -->
        <div class="famie-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="famieNav">
                        <!-- Nav Brand -->
                        <a href="../../Website/Index2" class="nav-brand"><img src="../WebsitePanelLayout/img/logo.png" alt=""></a>
                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>
                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="../../Website/Index2">Home</a></li>
                                    <li>
                                        <a href="#">About</a>
                                        <ul class="dropdown">
                                            <li><a href="../../Website/OurProfile">Our Profile</a></li>
                                            <li><a href="../../Website/OurVision">Our Vision</a></li>
                                            <li><a href="../../Website/OurMission">Our Mission</a></li>
                                            <li><a href="../../Website/OurBankDetails">Our Bank Details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="../../Website/OurProducts">Our Project</a>
                                        <ul class="dropdown">
                                            <li><a href="../../Website/ProPlotdetails">Our Plots</a></li>
                                            <li><a href="../../Website/ProVillasDetails">Our Villas</a></li>
                                            <li><a href="../../Website/ProFarmsDetails">Farm House</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="../../Home/PlotAvailability">Plot Availability</a></li>
                                    <li><a href="../../Website/Events">Events</a></li>
                                    <li><a href="../../Home/SiteVisit">Site Visit</a></li>
                                    <li><a href="../../Website/News">News</a></li>
                                    <li><a href="../../Website/ContactUs">Contact</a></li>
                                </ul>

                                <div id="searchIcon">
                                    <img src="../WebsitePanelLayout/img/new-logo-blossom.png" class="img-fluid" style="width: 95px;height: 80px;padding: 5px;">
                                </div>
                                <!-- Cart Icon -->
                                <!-- <div id="cartIcon">
                                  <a href="#">
                                    <i class="icon_cart_alt" aria-hidden="true"></i>
                                    <span class="cart-quantity">2</span>
                                  </a>
                                </div> -->
                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>
                    <!-- Search Form -->
                    <!-- <div class="search-form">
                      <form action="#" method="get">
                        <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                        <button type="submit" class="d-none"></button>
                      </form>

                      <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div> -->
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->



    @RenderBody()


    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer bg-img bg-overlay section-padding-80-0" style="background-image: url(../WebsitePanelLayout/img/bg-img/3.jpg);">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="footer-widget mb-80">
                            <a href="#" class="foo-logo d-block mb-30"><img src="../WebsitePanelLayout/img/moonlite-corporate-wh.png" alt=""></a>
                            <p> </p>
                            <div class="contact-info">
                                <p><i class="fa fa-map-pin" aria-hidden="true"></i><span>  Flat No. T5-CU-03 Parsvnath Planet, Tower No.5, Vibhuti Khand, Gomti Nagar, Lucknow-226010</span></p>
                                <p><i class="fa fa-envelope" aria-hidden="true"></i><span>info@moonliteagro.com</span></p>
                                <p><i class="fa fa-phone" aria-hidden="true"></i><span> 1800 102 5898</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="footer-widget mb-80">
                            <h5 class="widget-title">QUICK LINK</h5>
                            <!-- Footer Widget Nav -->
                            <nav class="footer-widget-nav">
                                <ul>
                                    <li><a href="#">Our Profile</a></li>
                                    <li><a href="../../Website/OurVision">Our Vision</a></li>
                                    <li><a href="../../Website/OurMission">Our Mission</a></li>
                                    <li><a href="../../Website/OurBankDetails">Our Bank Details</a></li>
                                    <li><a href="../../Website/ProPlotdetails">Our Plots</a></li>
                                    <li><a href="../../Website/ProVillasDetails">Our Villas</a></li>
                                    <li><a href="../../Website/ProFarmsDetails">Farm House</a></li>
                                    <li><a href="../../Website/Events">Events</a></li>
                                    <li><a href="../../Website/News">News</a></li>
                                    <li><a href="../../Website/ContactUs">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="footer-widget mb-30">

                            <!-- Single Recent News Start -->
                            <div class="single-recent-blog d-flex align-items-center">
                                <img src="../WebsitePanelLayout/img/new-logo-blossom.png" class="img-fluid">
                            </div>
                        </div>
                        <div class="footer-widget mb-80">
                            <h5 class="widget-title">STAY CONNECTED</h5>
                            <!-- Footer Social Info -->
                            <div class="footer-social-info">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <!--  <span>Facebook</span> -->
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                    <!--  <span>Twitter</span> -->
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                    <!--  <span>Pinterest</span> -->
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Copywrite Area  -->
        <div class="copywrite-area">
            <div class="container">
                <div class="copywrite-text">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <p style="text-align:center;">
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> Moonlite Agro Farms All rights reserved | Design & Developed by <a href="https://afluex.com/" target="_blank">Afluex Multiservices LLP</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
    <!-- ##### All Javascript Files ##### -->
    <!-- jquery 2.2.4  -->
    <script src="WebsitePanelLayout/js/jquery.min.js"></script>
    <!-- Popper js -->
    @*<script>
    //$(document).ready(function() {

    //  var id = '#dialog';

    //  //Get the screen height and width
    //  var maskHeight = $(document).height();
    //  var maskWidth = $(window).width();

    //  //Set heigth and width to mask to fill up the whole screen
    //  $('#mask').css({'width':maskWidth,'height':maskHeight});

    //  //transition effect
    //  $('#mask').fadeIn(500);
    //  $('#mask').fadeTo("slow",0.9);

    //  //Get the window height and width
    //  var winH = $(window).height();
    //  var winW = $(window).width();

    //  //Set the popup window to center
    //  $(id).css('top',  winH/2-$(id).height()/2);
    //  $(id).css('left', winW/2-$(id).width()/2);

    //  //transition effect
    //  $(id).fadeIn(2000);

    //  //if close button is clicked
    //  $('.window .close').click(function (e) {
    //    //Cancel the link behavior
    //    e.preventDefault();

    //    $('#mask').hide();
    //    $('.window').hide();
    //  });

    //  //if mask is clicked
    //  $('#mask').click(function () {
    //    $(this).hide();
    //    $('.window').hide();
    //  });

    //});
    </script>*@
    <script>
        $(document).ready(function () {
            $('.cross-wrap').on('click', function () {
                $('.classy-navbar-toggler').click();
                $('.classy-menu').css('left', '-310px')
            })

            $('.classy-navbar-toggler').on('click', function () {
                $('.classy-menu').css('left', '0px')
            })
        })
    </script>
    <script src="../WebsitePanelLayout/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../WebsitePanelLayout/js/bootstrap.min.js"></script>
    <!-- Owl Carousel js -->
    <script src="../WebsitePanelLayout/js/owl.carousel.min.js"></script>
    <!-- Classynav -->
    <script src="../WebsitePanelLayout/js/classynav.js"></script>
    <!-- Wow js -->
    <script src="../WebsitePanelLayout/js/wow.min.js"></script>
    <!-- Sticky js -->
    <script src="../WebsitePanelLayout/js/jquery.sticky.js"></script>
    <!-- Magnific Popup js -->
    <script src="../WebsitePanelLayout/js/jquery.magnific-popup.min.js"></script>
    <!-- Scrollup js -->
    <script src="../WebsitePanelLayout/js/jquery.scrollup.min.js"></script>
    <!-- Jarallax js -->
    <script src="../WebsitePanelLayout/js/jarallax.min.js"></script>
    <!-- Jarallax Video js -->
    <script src="../WebsitePanelLayout/js/jarallax-video.min.js"></script>
    <!-- Active js -->
    <script src="../WebsitePanelLayout/js/active.js"></script>
</body>
</html>